@font-face {
    font-family:neu ;
    src: url(/Sundwn-Studio/fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(/Sundwn-Studio/fonts/NeueHaasDisplayLight.ttf);
}
@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(/Sundwn-Studio/fonts/NeueHaasDisplayRoman.ttf);
}
@font-face {
    font-family: neu;
    font-weight: 800;
    src: url(/Sundwn-Studio/fonts/NeueHaasDisplayBold.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    position: relative;
    z-index: 10;
}
.page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;

}
nav{
    padding: 2vw 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
nav h3{
    display: none;
}
.nav-part2{
    display: flex;
    align-items: center;
    gap:1vw;
    padding-right: 1vw;
}
.nav-part2 h4{
    padding:10px 20px;
    border:1px solid #000000;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}
.nav-part2 h4::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000000;
    position: absolute;
    left:0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}
.nav-part2 h4:hover::after{
    border-radius: 0;
    bottom: 0;

}
.nav-part2 h4 a{
    color:#000000bb;
    position: relative;
    z-index: 9;
}
.nav-part2 h4:hover a{
    color:#fff;
}
.center{
    min-height:90vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.center img{
    height:33vw;
    width: 33vw;
    border-radius: 50%;
    position: relative;
    left:13%;
    top:2vw;
    
    
}

.right{

    padding-right: 4vw;
    top:-6vw;
    line-height: 6vw;
    
    position: relative;
}
.right h1{
    
    
    font-size:6.5vw;
    font-weight: 800;
    text-align: right;
    
}
.right h3 {
    
    
    font-size: 2vw;
    display: inline-block;
    text-align: right;
   
    
    
    font-weight: 600;
    margin-left: 16vw;
    position: relative;
    z-index: 9;
    
   
}
.right h3::after{
    content: "";
    height:0.05vw;
    width: 0;
    background-color: #000000;
    position: absolute;
    left:0;
    top: 70%;
    transition: all ease-in-out 1s;


}
.right h3:hover::after{
    width: 100%;
    

}
.right h3 a{
    color: black;
    
    
}
.content {
   position: absolute;
   top:64%;
   left:49%;
   
}
.content h2{
    word-spacing: -0.3vw;
    
    
   
    padding: 1vw 0;
    font-size: 2vw;
    font-weight: 900;
    position: relative;
    z-index: 9;
    
    
}

.shape{
    height: 23vw;
    width: 23vw;
    border-radius: 50%;
    background: linear-gradient(to top right,#ff2c02,#f09008);
    position: absolute;
    left:55%;
    top:37%;
    filter: blur(20px);
    animation: gooey 3s infinite ease-in-out alternate;
}

@keyframes gooey {
    from{
        
        transform: translate(10%,-10%) skew(0);
    }
    to{
        transform: translate(-10%,10%)skew(-12deg);
    }
    
}
.page2{
    height:100vh;
    width: 100%;

}
/* footer */
.footer{
    position: fixed;
    z-index: 9;
    height: 105vh;
    width: 100%;
    color: #fff;
    background-color: #000000;
    bottom: 0;
    display: flex;
    

    justify-content: flex-end;
    flex-direction: column;
    padding: 0 3vw;

}
.footer h1{
    font-size: 23vw;
}
.footer-div{
    height:20vh;
    width: 100%;
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content:space-between;
    position: relative;
    z-index: 9;
    
    
    
}
.footer-div .link h1{
    padding-left: 3vw;
    font-size: 2vw;
    font-weight:500;
    

}
.footer-div .link h1 a{
    
    color:#fff;
    

}


.footer-bottom{
    
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
    
    
  
}
.footer-bottom h4{
    font-weight: 200;
    
    
}

.footer-bottom h4 a{
    color:#fff;
    position: relative;
    
}
/* .footer-bottom h4 a::after{
    content: "";
    height: 10%;
    width: 0%;
    position: absolute;
    background-color: #fff;
    left:0;
    bottom: -10%;
    transition: width ease-in-out 0.5s;
    
}
.footer-bottom h4 a:hover::after{
    width: 100%;
} */
.footer-bottom .assets{
    display: flex;
    align-items: center;
    gap:0.5vw;
}

.details label h4{
    font-weight: 300;
    font-size: 1.5vw;
    padding-right: 4vw;
    padding-bottom: 2.5vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.252);
}

.details input{
    height: 2vw;
    width: 15vw;
    background-color: transparent;
    border:none;
    position: relative;
    bottom: 2vw;
}
.details input::placeholder{
    font-size: 1vw;
    color: black;
    
    
    
}

@media (max-width:600px) {

    .page1{
        min-height:100vh;
        width: 100vw;
        
        padding:0vw 0vw;
        
    }
    nav{
        padding: 8vw 5vw;
        
        background-color: #EFEAE3;
       
        
       
    }
    nav img{
        height: 9vh;
        transition: all ease 0.2s;
    }
    .nav-part2{
        
        display: none;
        position: relative;
    
    }
    nav h3{
        position: absolute;
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
        left:65%;
       
    }
    
}

@media (max-width:600px) {
    /* footer */
    .footer{
        padding: 15vw 3vw;
    }
    .footer h1{
        font-size: 23vw;
    }
    .footer-div{
        padding-top: 6vw;
        height:80vh;
        display: block;
    }
    .footer-div .link{
        padding-bottom: 8vw;
    }
    .footer-div .link h1{
        font-size: 15vw;
    }
    


    .footer-bottom{
        
        border-top: 1px solid #dadada;
        height: 20vh;
        width: 100%;
        display :block;
        
        position: relative;
        
        
        
    
    }
    .footer-bottom h4:nth-child(1){
        
        position: relative;
        top:19vw;
        font-size: 4vw;
        text-align: center;
        font-weight: 200;

    }
    .footer-contain{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0vw 3vw;
        
    }
    .footer-contain h4{
        font-size: 3.5vw;
        font-weight: 200;
        
        
    }

    .footer-bottom h4 a{
        color:#fff;
        position: relative;
        
    }
    
    .footer-bottom .assets{
        display: flex;
        align-items: center;
        gap:0.5vw;
    }

    .details label h4{
        
        font-size: 5vw;
        padding-left: 3vw;
    }

    .details input{
        height: 30vw;
        width: 100%;
        bottom: 3vw;
    }
    
}




