@font-face {
    font-family:neu ;
    src: url(/Sundwn-Studio/fonts/NeueHaasDisplayMediu.ttf);
}




@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(/Sundwn-Studio/fonts/NeueHaasDisplayLight.ttf);
}
@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(/Sundwn-Studio/fonts/NeueHaasDisplayRoman.ttf);
}
@font-face {
    font-family: neu;
    font-weight: 800;
    src: url(/Sundwn-Studio/fonts/NeueHaasDisplayBold.ttf);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
.main{
    position: relative;
    z-index: 10;
}
html,body{
    height:100%;
    width: 100%;
}
/* page 1 */
.part1{
    min-height:100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
    
}
/* nav */
nav{
    padding: 2vw 0vw;
    width: 100%;
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h3{
    display: none;
}
.nav-part2{
    display: flex;
    align-items: center;
    gap:1vw;

}
.nav-part2 h4{
    padding: 10px 20px;
    border:1px solid #000000;
    border-radius: 50px;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}
.nav-part2 h4::after{
    content: "";
    position: absolute;
    height:100%;
    width: 100%;
    background-color: black;
    left:0;
    bottom:-100%;
    border-radius: 50%;
    transition: all ease 0.4s;
    

}
.nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;

}
.nav-part2 h4 a{
    color: #000000bb;
    position: relative;
    z-index: 9;
}
.nav-part2 h4:hover a{
    color:#fff;
}

.center{
    min-height:90vh;
    width: 100%;
    display: flex;
    align-items: center;
    gap:22vw;
    position: relative;
    

}
.center .left h1{
    position: absolute;
    top:15%;
    font-size: 9vw;
    font-weight: 800;
    text-decoration: none solid rgb(11,5,0);
    z-index:9;
    
}
.left .bar{
    padding:1vw 1.5vw;
    
    background-color: #efeae379;
    border: 1px solid black;
    border-radius: 49px;
    background: linear-gradient(315deg, #d7d3cc, #fffaf3);
    box-shadow:  -11px -11px 19px #817e7b,
                 11px 11px 19px #ffffff;;
    
    
    
    display: flex;
    align-items: center;
    gap:1vw;
    z-index: 9;
    
    
}
.left .bar h4{
    font-weight: 200;
    color:black;
}
.right .gooey{
    
    top:10vw;
    width: 80%;
    left:22vw;
    
   
    height:47vw;
    width: 47vw;
    background:linear-gradient(to top right,#c10202,#f78903e0);
    border-radius: 50%;
    

    filter: blur(10px);
    animation: gooey 3s linear infinite alternate;
    
    

    
}
@keyframes gooey {
    from{
        filter:blur(2vw);
        transform: translate(10%,-10%)skew(0);
    }
    to{
        filter:blur(2vw);
        transform: translate(-10%,10%)skew(-12deg);
    }

    
}
.container{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 5vw;
    
   
}


.Experiential{
    min-height: 100vh;
    width: 100%;
    
    position: relative;
    bottom: 18vw;
    
    
    
    
}
.Experiential video{
    
    display: inline-flex;
    margin: 2.5vw;

    height: 55vh;
    width: 20vw;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom:8vw ;
    

    



}
.Experiential img{
    
    display: inline-flex;
    margin: 2.5vw;

    height: 55vh;
    width: 20vw;
    object-fit: cover;
    border-radius: 20px;

}

.part2{
    height:100vh;
    width: 100%;
}

/* footer */
.footer{
    position: fixed;
    z-index: 9;
    height: 105vh;
    width: 100%;
    color: #fff;
    background-color: #000000;
    bottom: 0;
    display: flex;
    

    justify-content: flex-end;
    flex-direction: column;
    padding: 0 3vw;

}
.footer h1{
    font-size: 23vw;
}
.footer-div{
    height:20vh;
    width: 100%;
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content:space-between;
    position: relative;
    z-index: 9;
    
    
    
}
.footer-div .link h1{
    padding-left: 3vw;
    font-size: 2vw;
    font-weight:500;
    

}
.footer-div .link h1 a{
    
    color:#fff;
    

}
.footer-contain{
    display: flex;
    align-items: center;
    gap:19vw;
    padding-right: 5vw;
}


.footer-bottom{
    
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
    
    
  
}
.footer-bottom h4{
    font-weight: 200;
    
    
}

.footer-bottom h4 a{
    color:#fff;
    position: relative;
    
}
/* .footer-bottom h4 a::after{
    content: "";
    height: 10%;
    width: 0%;
    position: absolute;
    background-color: #fff;
    left:0;
    bottom: -10%;
    transition: width ease-in-out 0.5s;
    
}
.footer-bottom h4 a:hover::after{
    width: 100%;
} */
.footer-bottom .assets{
    display: flex;
    align-items: center;
    gap:0.5vw;
}

.details label h4{
    font-weight: 300;
    font-size: 1.5vw;
    padding-right: 4vw;
    padding-bottom: 2.5vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.252);
}

.details input{
    height: 2vw;
    width: 15vw;
    background-color: transparent;
    border:none;
    position: relative;
    bottom: 2vw;
}
.details input::placeholder{
    font-size: 1vw;
    color: black;
    
    
    
}






/* for menu in respomsive */
#full-scr{
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top:-100%;
    transition: all ease 0.5s;
}
.full-div1{
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
#full-scr .class{
    position: relative;
    top:-55vw;
    right:8.5vw;
    text-align: right;
    font-size: 6vw;
}

@media (max-width:600px) {


    .part1{
        min-height:60vh;
        width: 100%;
        
        padding:0vw 0vw;
        
    }
    nav{
        padding: 8vw 5vw;
        
        background-color: #EFEAE3;
       
        
       
    }
    nav img{
        height: 9vh;
        transition: all ease 0.2s;
    }
    .nav-part2{
        
        display: none;
    
    }
    nav h3{
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
    }
    /* footer */
    .footer{
        padding: 15vw 3vw;
    }
    .footer h1{
        font-size: 23vw;
    }
    .footer-div{
        padding-top: 6vw;
        height:80vh;
        display: block;
    }
    .footer-div .link{
        padding-bottom: 8vw;
    }
    .footer-div .link h1{
        font-size: 15vw;
    }
    


    .footer-bottom{
        
        border-top: 1px solid #dadada;
        height: 20vh;
        width: 100%;
        display :block;
        
        position: relative;
        
        
        
    
    }
    .footer-bottom h4:nth-child(1){
        
        position: relative;
        top:19vw;
        font-size: 4vw;
        text-align: center;
        font-weight: 200;

    }
    .footer-contain{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0vw 3vw;
        
    }
    .footer-contain h4{
        font-size: 3.5vw;
        font-weight: 200;
        
        
    }

    .footer-bottom h4 a{
        color:#fff;
        position: relative;
        
    }
    
    .footer-bottom .assets{
        display: flex;
        align-items: center;
        gap:0.5vw;
    }

    .details label h4{
        
        font-size: 5vw;
        padding-left: 3vw;
    }

    .details input{
        height: 30vw;
        width: 100%;
        bottom: 3vw;
    }
    
}